@model Category 
<!--It is not mandatory to pass an object to a view in order to use the model tag.-->

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
             <h2 class="text-primary">Create category</h2>
        </div>
        <!--This tag helper lists all errors found on the form. It needs to be in a div to work-->
        <div asp-validation-summary="All"></div>
        <hr/>
    <!--The asp-for tag helper does the data binding and binds user input to model's attribute-->
        <!--The asp-validation-for tag helper displays an error if model's missing some required field-->
        <div class="mb-3">
            <label asp-for="name"></label>
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

            <button class="btn btn-primary" style="width:150px">Save category</button>
            <a class="btn btn-secondary text-end" asp-controller="Category" asp-action="Index" style="width:150px">Go back to list</a>
    </div>  

</form>

        <!--Client side validation. It validates basic things like input fields not being empty-->
        
        @section Scripts{
            <!--Shared view taken from Views/Shared folder-->
            <partial name="_ValidationScriptsPartial"/>
        }